<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PFHSSXMJCJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PFHSSXMJCJ');
</script>

<table>
    <tr>
        <td><a href="/">Home</a></td>
        <td><a href="/calculator">Calculator</a></td>
        <td><a href="/calender.md">Calender</a></td>
        <td><a href="/notebook.md">Notebook</a></td>
        <td><a href="/resources.md">Student Resources</a></td>       
    </tr>
</table>
