<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PFHSSXMJCJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PFHSSXMJCJ');
</script>

<table>
    <tr>
        <td><a href="/">Home</a></td>
        <td><a href="/housing.md">Housing</a></td>
        <td><a href="/food.md">Food</a></td>
        <td><a href="/sports.md">Sports</a></td>
        <td><a href="/activities.md">Activities</a></td>
        <td><a href="/family-night.md">Family-Night</a></td>
        <td><a href="/gallery.md">Gallery</a></td>
    </tr>
</table>
